name: "[Reuse] New Release"

on:
  workflow_call:
    inputs:
      bump:
        type: string
        description: Release version to create
        required: true
        default: patch
      create_tag:
        type: boolean
        description: Whether to create a tag for the release branch
        required: false
        default: true
      as_rc:
        type: boolean
        description: Wether to append the "rc0" suffix to the version (e.g. 1.0.0rc0 vs 1.0.0)
        required: false
        default: true
jobs:
  release_branch:
    name: New Release
    runs-on: ubuntu-latest
    steps:
      - name: Fail If Invalid Bump String
        run: | 
          python -c "
          if '${{ inputs.bump }}' not in ['patch', 'minor', 'major']:
              raise ValueError
          "
      - name: Fail If Not On main
        if: github.ref != 'refs/heads/main'
        run: |
          echo "This workflow should not be triggered on a branch other than main"
          exit 1
      - uses: actions/checkout@v3
        with: 
          ref: main
          token: ${{ secrets.GH_TOKEN }}
      - name: Git Config
        uses: radaisystems/common-actions/git-config@v1
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Poetry
        run: |
          pipx install poetry
      - name: Set Release Envar
        run: |
          echo "RELEASE_BRANCH_NAME=release/v$(poetry version -s --dry-run ${{ inputs.bump }})" >> $GITHUB_ENV
          if ${{ inputs.as_rc }}; then
            echo "RELEASE_VERSION=$(poetry version -s --dry-run ${{ inputs.bump }})rc0" >> $GITHUB_ENV
            echo "RELEASE_TAG_VERSION=v$(poetry version -s --dry-run ${{ inputs.bump }})rc0" >> $GITHUB_ENV
          else
            echo "RELEASE_VERSION=$(poetry version -s --dry-run ${{ inputs.bump }})" >> $GITHUB_ENV
            echo "RELEASE_TAG_VERSION=v$(poetry version -s --dry-run ${{ inputs.bump }})" >> $GITHUB_ENV
          fi
      - name: Check Branch Already Exists
        run: |
          git fetch
          git branch -rl | grep -vz $RELEASE_BRANCH_NAME
      - name: Create Release Branch
        run: |
          git checkout -b $RELEASE_BRANCH_NAME
      - name: Commit
        run: | 
          poetry version $RELEASE_VERSION
          git commit -am "ci(pyproject.toml): bump ${{ inputs.bump }} version" 
          git push -u origin $RELEASE_BRANCH_NAME
      - name: Create Tag
        if: inputs.create_tag == 'true'
        run: |
          git tag -a $RELEASE_TAG_VERSION -m ""
          git push --tags
